@import "~bootstrap/scss/bootstrap";
$enable-responsive-font-sizes: true;
$break-medium: 768px;
$break-small: 576px;
$break-x-small: 380px;
$break-large: 992px;
$break-x-large: 1200px;

@font-face {
  font-family: "Suisse-Regular";
  src: url("./../assets/fonts/suisse/Suisse Int'l Light.otf") format("truetype");
}

@font-face {
  font-family: "Suisse-Thin";
  src: url("./../assets/fonts/suisse/Suisse Int'l Thin.otf") format("truetype");
}

@font-face {
  font-family: "Schnyder-Light";
  src: url("./../assets/fonts/schnyder/Schnyder L Light.otf") format("truetype");
}

@font-face {
  font-family: "Schnyder-Bold";
  src: url("./../assets/fonts/schnyder/Schnyder L Bold.otf") format("truetype");
}

html{
  overflow-x: hidden;
  &.overflow-y{
    overflow-y: hidden;
  }
}

body{
  background: var(--background);
  color: var(--color-text);
  font-family: var(--font-primary);
  overflow: hidden;
  width: 100%;
  //cursor: none;
  //VARS
  --color-text: #fefefe;
  --color-text-secondary: #696666;
  //--canvas-backround: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(1,1,1,1) 30%);
  --background: #000;
  --font-primary: Suisse-Regular;
  --font-primary-thin: Suisse-Thin;
  --font-third-light: Schnyder-Light;
  --font-third-Bold: Schnyder-Bold;
  --bar-width: 40px;
  --bar-height:1px;
  --bar-spacing: 10px;
}
h1,h2,h3,h4,h5{
  font-family: var(--font-third-light);
  line-height: 1;
}
a{
  color: var(--color-text);
  text-decoration: none;
}

canvas{
  position: fixed;
  //background: var(--canvas-backround);
  //z-index: 100;
  opacity: 0;
  margin-left: -55px;
}

::-moz-selection { background: var(--color-text); color: var(--background) }
::selection { background: var(--color-text); color: var(--background); }


.loader{
  background: var(--background);
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  //visibility: hidden;
  display: flex;
  align-items: center;
}

.load-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2000;
  pointer-events: none;

}
.loading-screen{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: var(--color-text);
  width: 0%;
  height: 100%;

}


.menu  a:hover,
.menu  a:focus {
  outline: none;
  color: var(--color-text);
}

.menu{
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  font-size: 1.0rem;
  padding-top: 30px;
  a{
    position: relative;
    display: inline-block;
    outline: none;
  }
  p {
    float: left;
    font-family: var(--font-primary);
    text-transform: lowercase;
    padding: 3px 20px 0px 20px;

  }
  .a{
    padding-left: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: var(--font-primary);
    text-transform: lowercase;
    &.no-show{
      //display: none;
      visibility: hidden;
    }
  }
  .b {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    &.no-show{
      //display: none;
      //opacity: 0;
      visibility: hidden;

    }
  }
  .c {
    float: right;
    padding-right: 3rem;
    cursor: pointer;
  }
}

.d{
  opacity: 0;
}
.e{
  opacity: 0;
}

.header-home{
  position: relative;
  padding-left: 3%;

  button{
    border-radius: 50px;
    padding: 1.0rem 4.0rem;
    font-size: 1.2rem;
    font-family: var(--font-primary-thin);
  }
}

.rotatethis {
  position: absolute;
  right: 10%;
  bottom: 5%;
  animation: rotating 20s linear infinite;
  h2{
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.0rem;
  }
}
.inside{
  position: absolute;
  right: 10%;
  bottom: 15%;
  transform: translate(45%, 20%);
  overflow: hidden;
  z-index: 1002;
  a svg:hover{
    transform: translate(145%, 10%);
  }
}

.circle-about{
  position: absolute;
  right: 10%;
  bottom: 10%;
  transform: translate(40%, -140%);
  a{
    color: var(--color-text) !important;
  }
}


@keyframes rotating  {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: left;
  flex-direction: row;
  text-align: left;
  p {
    max-width: 30%;
    font-size: 1.0rem;
    color: var(--color-text);
    a{
      font-size: 1.0rem;
      position: relative;
      display: inline-block;
      outline: none;
      color: var(--color-text);

      &:hover {
        color: var(--color-text);
      }
    }
  }
  h3{
    font-size: calc(18px + (55 - 18) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-primary);
    line-height: 1;
    //font-weight: bold;
    //text-transform: uppercase;
  }

  .header-motto{
    h1{
      font-size: calc(80px + (160 - 80) * ((100vw - 320px) / (1900 - 320)));
    }
    p{
      font-size: 1.1rem;
    }
  }
  .header-motto>div:nth-child(2){
    //margin-left: calc(30px + (100 - 30) * ((100vw - 320px) / (1900 - 320)));
  }
  .header-motto>div>p{
    display: block;
  }

}


.header-motto{
  &>div{
    overflow: hidden !important;
  }
  padding-top: 100px;
  h1{
    font-size: calc(50px + (180 - 50) * ((100vw - 320px) / (1900 - 320)));
    line-height: .9;
    font-family: var(--font-third-light);
    text-transform: uppercase;
  }

  .header{
    .header-motto > div:nth-child(2) {
      margin-left: 0 !important;
    }
    .header-motto{
      h1{
        font-size: calc(50px + (80 - 50) * ((100vw - 320px) / (1900 - 320)));
      }
      p{
        font-size: 1.1rem;
      }
    }
    .header-motto>div{
      overflow: hidden !important;
    }
    .header-motto>div>p{
      display: block;
      line-height: .8;
    }
  }

  .header-motto{
    padding-top: 100px;
    h1{
      font-size: calc(50px + (180 - 50) * ((100vw - 320px) / (1900 - 320)));
      line-height: .8;
      font-family: var(--font-third-light);
      text-transform: uppercase;
    }
  }
}

.header-motto > div:nth-child(1) {
  h1{
    display: inline-block;
  }
}

.header-motto > div:nth-child(3) {
  h1{
    display: inline-block;
  }
}
.header-motto > div:nth-child(4) {
  h1{
    display: inline-block;
  }
}
.header-motto > div:nth-child(5) {
  p{
    display: inline-block;
  }
}


////ABOUT
.smooth-scroll-wrapper{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
}
.content{
  width: 100vw;
}

.about-heading{

  .header-motto > div:nth-child(2) {
    margin-left: calc(30px + (260 - 30) * ((100vw - 320px) / (1900 - 320)));
    h1{
      display: inline-block;
    }
  }

  padding-top: calc(8.0rem + 2vw);
  .down{
    padding-top: calc(1.0rem + 2vw);
  }
  .sub-heading{
    padding-top: calc(4.0rem + 2vw);
    padding-bottom: calc(2.0rem + 2vw);
    img{
      width: 100%;
      height: auto;
    }
  }
  .sub-heading-bigger{
    padding-top: calc(8.0rem + 2vw);
    padding-bottom: calc(4.0rem + 2vw);
    h2{
      font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1900 - 320)));
    }
    hr{
      max-width: 25%;
      margin: 0 !important;
    }
    p{
      padding: 1.0rem 0;
    }
  }
  .first-listing{
    li{
      color: var(--color-text-secondary);
      padding: .2rem 0;
    }
  }
  p{
    font-size: 1.1rem;
    line-height: 1.8;
  }
  h3{
    font-size: calc(30px + (55 - 30) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-primary-thin);
    line-height: 1.1;
    font-weight: bold;
    //text-transform: uppercase;
  }
  h2{
    font-size: calc(45px + (55 - 45) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-third-light);
    text-transform: uppercase;
  }
 h4{
   font-size: 2.0rem;
   //text-transform: uppercase;
   font-family: var(--font-primary);
   line-height: 1.4;
 }
  h5{
    font-size: 1.2rem;
    //text-transform: uppercase;
    font-family: var(--font-primary);
    line-height: 1.4;
  }
  .row{
    margin-top: 8rem;
  }

  ul{
    padding: 0;
    list-style: none;
    span:first-of-type{
      display: inline-block;
    }
    span:nth-last-of-type(1){
      display: inline-block;
      text-align: center;
      position: relative;
      left: 40%;
    }
    li{

    }
    hr{
      background: var(--color-text-secondary);
    }
  }
  img{
    width: 100%;
    height: auto;
    opacity: .79;
    transition: .5s;
  }
  img:hover{
    filter:invert(100%);
  }
}
.about-sub-sec{
  h1{
    font-size: 4.0rem;
  }
}


.footer{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;

  h1{
    font-size: calc(35px + (80 - 35) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-third-light);
    text-transform: uppercase;
    align-self: center;
    text-align: center;
  }
  p{
    font-size: 1.2rem;
    align-self: center !important;

  }
 a {
    align-self: center !important;
   padding-top: 3.0rem;
  }
  button{
    border-radius: 50px;
    padding: 1.0rem 4.0rem;
    font-size: 1.2rem;
  }
}

.full-menu{
  background: var(--background);
  z-index: 10;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  display: flex;
  align-items: center;
  .full-menu-item a{
    position: relative;
    display: inline-block;
    outline: none;
    visibility:hidden;
    line-height: normal;

    font-family: var(--font-third-light);
    text-transform: uppercase;

    &:hover{
      color: inherit;
    }
  }

.tween-to-show{
  visibility:hidden;
}
.menu-big{
  position: absolute;
  //left: 20%;
  left: -2%;
  top: 72%;

  span{
    font-size: calc(220px + (300 - 220) * ((100vw - 320px) / (1900 - 320)));
    z-index: -100;
    color: var(--color-text-secondary);
    opacity: .2;
    font-family: var(--font-third-light);
    font-weight: bold;
    text-transform: uppercase;
  }
}

  .row{
    //padding-top: calc(10.0rem + 2.2vw);
    div:nth-last-of-type(1){
      text-align: right;
    }
  }
  h1{
    font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1900 - 320)));
  }
  p{
    font-size: 1.1rem;
  }
  p:nth-last-of-type(1){
    color: var(--color-text-secondary);
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      color: var(--color-text-secondary);
      font-size: 1.0rem;
    }
    a{
      color: var(--color-text-secondary);
    }
  }

}
.full-menu.show{
  //display: block;
  visibility: visible;
}



//Projects

.projects-wrapper {
}
.projects-sec{
  overflow-y: hidden !important;

  .header-projects {position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-third-light);
    line-height: 1.2;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text);
    z-index: 2;

    h1{
      font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1900 - 320)));
    }

  }

  .pics-container {
    padding-top: calc(2.0rem + 2vw);
    padding-bottom: calc(2.0rem + 2vw);
    position: absolute;
    width: 200%;
    height: 200vh;
  }

  .pics-row {
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
  }

  .block {
    width: 500px;
    height: 600px;
    background: var(--color-text-secondary);
    margin: 1em;
    filter: grayscale(1);
    opacity: 0;
    transition: 1s;
  }
  .project-link{
    visibility: hidden;
  }

  .block:hover {
    filter: grayscale(0);
    opacity: 1;
  }

  .block-1 {
    background: url("../assets/img/1.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-2 {
    background: url("../assets/img/2.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-3 {
    background: url("../assets/img/3.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-4 {
    background: url("../assets/img/4.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-5 {
    background: url("../assets/img/5.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-6 {
    background: url("../assets/img/6.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-7 {
    background: url("../assets/img/7.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .block-8 {
    background: url("../assets/img/8.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  .block-9 {
    background: url("../assets/img/9.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  .block-10 {
    background: url("../assets/img/10.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
}

////Contact

.contact-email{
  //display: flex;
  padding: 12.0rem 0;
  h1{
    //font-size: calc(45px + (80 - 45) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-primary-thin);
    font-size: calc(45px + (55 - 45) * ((100vw - 320px) / (1900 - 320)));
    font-weight: bold;
  }
}

.contact-sec{
  height: 100%;
  margin-bottom: -15px;

  h2{
    font-size: calc(30px + (45 - 30) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-third-light);
    text-transform: uppercase;
  }
  nav{
    padding-top: 10.0rem;
    padding-bottom: 5.0rem;
  }
  nav ul {
    li{
      height: 100%;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul li{
      padding: 0 1.0rem;
      height: 100%;
    }
  }
  p{
    line-height: 1.8;
    //color: var(--color-text-secondary);
  }
  ul{
    padding: 0;
    list-style: none;
  }
  h2 a{
    padding: 8.0rem 0;
    position: relative;
    display: inline-block;
    outline: none;
    &:hover{
      color: var(--color-text);
    }
  }

  img{
    position: absolute;
    width: 1000px;
    height: auto;
    opacity: .79;
    transition: .5s;
  }
  img:hover{
    filter:invert(100%);
  }
}
.details{
  padding-top: calc(4.0rem + 2vw);

}
.contact-heading{
  padding-top: calc(8.0rem + 2vw);
}
.credito{
  //position: absolute;
  bottom: 1.0rem;
  padding-top: 6.0rem;
  p{
    color: var(--color-text-secondary);
    a{
      color: var(--color-text-secondary);
    }
  }
}

////Helpers
.hr-grey{
  background: var(--color-text-secondary);
}

.p-thin{
  font-family: var(--font-primary-thin);
}

.p-small{
  font-size: 1.0rem !important;
}

.secondary-font{
  font-family: var(--font-secondary);
}

.primary-font{
  font-family: var(--font-primary);
}

.oblique{
  font-style: oblique;
}
.ct{
  color: var(--color-text) !important;
}

.transparent-fill {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--color-text);
  //font-style: oblique;
  &-1px {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-text);
  }
}

//////////////////
.marquee {
  height: 100%;
  width: 65%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.marquee div {
  display: block;
  width: 200%;
  height: 75%;
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite;
  //white-space: nowrap;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}



//Hamburger

.menu-wrapper {
  width: var(--bar-width);
  height: var(--bar-height) + calc(var(--bar-spacing) * 2);
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: var(--bar-width);
  height: var(--bar-height);
}

.hamburger-menu {
  position: relative;
  transform: translateY(var(--bar-spacing));
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: var(--bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: var(--bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hover-effect a {
  overflow: hidden;
  padding: 0 4px;
  height: 100%;
  position: relative;
  display: inline-block;
  outline: none;
  &:hover{
    color: var(--color-text);
  }
}

.hover-effect a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.hover-effect a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 400;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hover-effect  a:hover span,
.hover-effect  a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

////typing
.typing {
  position: relative;
  display: inline-block;
  //color: var(--color-text-secondary);
  color: var(--color-text);

}
.typing-cursor {
  animation: blink 1s infinite;
  white-space: nowrap;
  margin-left: -.8rem;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

////Media queries

@media (max-width: $break-x-large) {

}

@media (max-width: $break-small) {
  .b{
    visibility: hidden;
  }
}
@media (max-width: $break-large) {
  .down{
    margin-left: 15px;
  }
}

@media (max-width: $break-medium) {
  .rotatethis{
    bottom: -20% !important;
    right: 5% !important;
  }
  .full-menu{
    .row{
      padding-top: calc(6.0rem + 2.2vw);
      text-align: center !important;

      div:nth-last-of-type(1){
        text-align: center !important;
      }
    }
    .m-noshow{
    display: none;
    }
  }
  .down{
    margin-top: calc(50px + (300 - 50) * ((100vw - 320px) / (1900 - 320))) !important;
  }

  .contact-heading{
    h1{
      text-align: center !important;
    }
  }
  .details{
    text-align: center !important;
  }

}

@media (max-width: 760px) {
  .contact-sec{
    nav ul {
      justify-content: center;
      align-self: center;
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      li{
        padding: .5rem 0 0 0 !important;
      }
      ul li{
        height: 100%;
      }
    }
  }
}

.g{
  opacity: 0;
}

.greekMobile{
  width: 100%;
  height: auto;
  //max-width: 700px;
  position: absolute;
  margin-left: -15px;
  opacity: .2;

}


//// LINK ///

.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
.link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset .3s ease;
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 0;
}
.link--arrowed:hover .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}
.link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 95;
}


////Cursros

body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
body .cursor__ball circle {
  fill: #f7f8fa;
}


.inside-ball{
  fill: #f7f8fa;
  mix-blend-mode: difference;

}
